body {
  background-color: #e8e8e8;
}

h4 {
  margin: 0;
}

a {
  color: #d2c9e8;
}
a:visited {
  color: #d2c9e8;
}
a:hover {
  color: #fff;
}

.row {
  background-color: #fff;
  text-align: center;
}

.header {
  background: #2F0743;
  background: -webkit-linear-gradient(to right, #2F0743, #6441a4);
  background: linear-gradient(to right, #2F0743, #6441a4);
}

.header__twitch-icon {
  vertical-align: middle;
}

.header__title {
  margin: 0;
  color: #fff;
  padding: 20px;
}

.header__subtitle {
  padding-bottom: 20px;
  color: #fff;
  display: inline-block;
}

.container {
  margin: 20px auto 30px;
  max-width: 960px;
  box-shadow: 0px 2px 5px 0px #b3b3b3;
}

.subheader {
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  background: #6441a4;
  text-align: center;
}

.subheader__col {
  border-right: 1px solid #e8e8e8;
  padding: 20px 0;
}

.channel {
  border-left: 10px solid transparent;
  padding: 20px 0;
  transition: 0.1s;
}
.channel:nth-child(odd) {
  background-color: #fbfbfb;
}
.channel:hover {
  background-color: #e4e3e3 !important;
}

.channel__status {
  text-align: left;
}

.channel__logo > img {
  max-height: 85px;
}

.channel__name {
  font-weight: bold;
}

.channel--isOnline {
  color: #297929;
  font-size: 14px;
}

.channel__link {
  color: #2F0743;
}
.channel__link:visited {
  color: #2F0743;
}
.channel__link:hover {
  text-transform: underline;
  color: #6f5f96;
}
